<style>
  .cv {
    color: #FFF;
    column-count: 3;
    font-size: 10pt;
    font-weight: 300;
  }

  .header {
    height: 10%;
    color: #FFF;
    column-span: all;
    font-size: 14pt;
    font-weight: 300;
    margin-bottom:10px;
  }

  .tiny {
    font-size: 9pt;
  }

  .cv p {
    margin-top: 0px;
  }

  .footer {
    height: 10%;
  }
</style>

<table border=0 width="100%" height="100%">
  <tr>
    <td width="10%"></td>
    <td class="cv_cell" border=0 valign="middle" width="50%">
      <div class="header">
        Shaina Gates <br />
        <span class="tiny">b. 1983</span>
      </div>
      <div class="cv">
	      <%= markdown(@cv.body) %>
      </div>
      <div class="footer"></div>
    </td>
    <td width="10%"></td>
  </tr>
</table>