
<h5>
<table border=0 width="100%" height="90%">

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Uncommons (curated group exhibition) 
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      September 2015. Little Berlin Gallery, Philadelphia, PA
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Just Come (drawing collaboration) 
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      April 2015. Morgan Gallery, Philadelphia, PA
    </td>
  </tr>  

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      LIKE: (group exhibition)
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      March 2015. Addams Gallery, Philadelphia PA
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Solo Exhibition
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      June 6, 2014. Launch Gallery, Peterborough NH
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Juried Chamber of Commerce Benefit Auction
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      January 2014. Cunningham Gallery, Jaffrey NH
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Annual Members Exhibition
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      January 2014, Sharon Arts Gallery, Peterborough NH
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Coming of Age
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      November 2013. Sharon Arts Gallery; Peterborough NH
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Broke Arts
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      November 2013. Peterborough, NH
    </td>
  </tr>

  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Biennial Jurors’ Choice Exhibit
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      January 2013. Thorne-Sagendorph Gallery; Keene NH
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Juried Chamber of Commerce Benefit Auction
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      January 2013. Cunningham Gallery; Jaffrey NH
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Autumn Area Exhibition
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      November 2012. Cunningham Gallery; Jaffrey NH
    </td>
  </tr>
    <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      30 Under 30
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      January 2012. Sharon Arts Gallery; Peterborough NH
    </td>
  </tr>
    <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Juried Chamber of Commerce Benefit Auction
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      January 2012. Cunningham Gallery; Jaffrey NH
    </td>
  </tr>
    <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Autumn Area Exhibition
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      November 2011. Cunningham Gallery; Jaffrey NH
    </td>
  </tr>
    <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      SOWA – Boston’s Indie Art Show
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      May-October 2010. Boston MA
    </td>
  </tr>
    <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Small Works Show
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      November 2009. Harmon Gallery; Wellfleet MA
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      Autumn Area Exhibition
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      November 2009. Cunningham Gallery; Jaffrey NH
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      <BR>
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      <BR>
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      2005 BFA
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      Rhode Island School of Design
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      2008 MA
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      School of Visual Arts, NY
    </td>
  </tr>
  <tr>
    <td id="exh_title" style="font-weight: 500; text-align: right; padding-right: 10px">
      2016 MFA
    </td>
    <td id="exh_desc" style="font-weight: 300; text-align: left; padding-left: 10px">
      University of Pennsylvania
    </td>
  </tr>

</table>
</h5>

