      <h4 style=" margin-left: 20%; margin-right: 20%">
      This current body of work investigates how intuition and intellect are knit together in the act of painting-and-rule-making through the expressive brushstroke and the precision of drawing.  The work provides a space for the repetitive and reliable aspects of craft, the tracing steadily revealing the architecture of each brushstroke. I want the project to occur in a logical and sensitive way, employing the rules of craft, while still maintaining the inquisitive rigor of expression and discovery in painting.</p>
      </h4>